@import "@/shared/variables/variables.scss";

.ConnectFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    h1 {
        height: 37px;
        color: $green;
    }
}

.board {
    display: flex;
}

.line {
    width: 100px;
    height: 600px;
    background: none;
    border: 2px solid $green;
    position: relative;
}

.chip {
    position: absolute;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.next {
    font-size: 30px;
}

.reset {
    background-color: $green;
    color: $black;
    border-radius: 3px;
    width: 200px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    border: none;
    outline: none;
}
