@import "@/shared/variables/variables.scss";

.Header {
    width: 100vw;
    height: 50px;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    background-color: $green;
}

.active {
    color: red;
}
